<!DOCTYPE html>
<html>
  <head>
    <title>InboxAnalytics Tag Cloud Demo</title>
    <!--[if lt IE 9]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
     <script src="./assets/js/jquery.tagcanvas.min.js" type="text/javascript"></script>
    <!--
    <script src="jquery.tagcanvas.min.js" type="text/javascript"></script>
    -->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
    <script src="./assets/js/InboxAnalytics.js" type="text/javascript"></script>

  </head>
  <body>
    <h1>InboxAnalytics</h1>
    <div id="myCanvasContainer" align="center">
      <canvas align="center" width="600" height="400" id="myCanvas" style="border: 1px solid black">
        <p>Unable to display Tag Cloud! Your browser does not support the canvas element!</p>
      </canvas>
    </div>
    <div id="tags">
      <ul>
        <li><a style="font-size: 20pt" href="#">medium</a></li>
        <li><a style="font-size: 40pt" href="#">Huge</a></li>
        <li><a style="font-size: 10pt" href="#">small</a></li>
      </ul>
    </div>
  </body>
</html>